extends layout

block content
  div#indexContent
    h1= title
    p Welcome to my #{title}
    a(href="/events/show", class="indexLink") Show events
    a(href="/events/eventForm", class="indexLink") Add Event
    //a(href="/calendar/month", class="indexLink") Show Month
