extends layout

block content
  ul
    li(class="event createEvent") 
      span Add Event
      span.priority +
    for event in events
      li(class="event", data-id=event['id'])
        span.name #{event['name']}
        span.priority #{event['priority']}
        span.description.eventHide #{event['description']}
        span.eventButtons.eventHide
          span(class="updateEvent fa fa-edit")
          span(class="deleteEvent fa fa-trash")
        //button(class="eventButton eventStart") Start
        //button(class="eventButton eventPause") Pause
        //button(class="eventButton", id="eventCompleted") Completed 
