extends layout

block content
  table(class='dayCalendarTable' id='dayTimeLabel')
    - for(var i=0; i<18*4; i++)
      tr
        if (i%4 ==0)
          td(rowspan='4') #{i/4+6}H
          td(class='borderTime') :00
        if (i%4 == 1)
          td :15
        if (i%4 == 2)
          td :30
        if (i%4 == 3)
          td :45

  // May not be necessary or even useful
  table(class='dayCalendarTable' id='dayEvents')
    - for(var i=0; i<18*4; i++)
      tr
        if (i%4 ==0)
          td(class='hourStart')
        else
          td
