extends layout

block content
  a(href="#" class="fa fa-tags fa-3x sideIcon")
  div(class="search" id="nameSearch")
    input(placeholder="Search by Name")
  a(href="#" class="fa fa-search fa-3x sideIcon")
  div(class="search" id="tagSearch")
    input(placeholder="Search by Tags")
  a(href="#" class="fa fa-bolt fa-3x sideIcon")
  ul
    for activity in activities
      div(class="eventWrapper")
        table(class="eventMetrics")
          tr
            td(style="font-weight:bold") Time Spent = 
            td(id="timeSpent")
        li(class=(activity['isRunning'] == true ? "event running" : "event"), data-id=activity['id'])
          if (activity['isRunning'])
            span(class="fa fa-bolt")
          span.name #{activity['name']}
          span(class="metrics fa fa-line-chart")
          span.description.eventHide #{activity['description']}
          span.eventTags.eventHide 
            if (activity['tag'])
              span(class='fa fa-tag tagSpan') &nbsp #{activity['tag']}
          span.eventButtons.eventHide
            span(class="updateEvent fa fa-edit")
            if (activity['isRunning'])
              span(class="startEvent fa fa-play disabledButton")
              span(class="pauseEvent fa fa-pause")
            else
              span(class="startEvent fa fa-play")
              span(class="pauseEvent fa fa-pause disabledButton")
            span(class="completeEvent fa fa-check")
            span(class="deleteEvent fa fa-trash")
