extends layout

block content
  ul
    li(class="createEvent") 
      span Add Event
      span.priority +
    for event in events
      li(class="event", data-id=event['_id'])
        span.name #{event['name']}
        span.priority #{event['priority']}
        span.description.eventHide #{event['description']}
        button(class="eventButton eventHide updateEvent") Edit
        button(class="eventButton eventHide deleteEvent") Remove
        //button(class="eventButton eventStart") Start
        //button(class="eventButton eventPause") Pause
        //button(class="eventButton", id="eventCompleted") Completed 
