extends layout

block content
  ul
    li(class="newEvent") 
      span Add Event
      span.priority +
    for event in events
      li(class="event", data-id=event['_id'])
        span.name #{event['name']}
        span.priority #{event['priority']}
        //button(class="eventButton", id="eventEdit") Edit
        button(class="eventButton remove") Remove
        //button(class="eventButton eventStart") Start
        //button(class="eventButton eventPause") Pause
        //button(class="eventButton", id="eventCompleted") Completed 
