body{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a{
  color: #00B7FF;
}
.indexLink{
  display: block;
  margin: 10px;
}

li.createEvent{
  font-weight: bold;
  color: #209900;
  list-style-type: none;
  border: 1px solid #000000;
  margin: 10px;
  padding: 10px;
  height: 20px;
  width: 300px;
}
.li.plusSign{
  float:right;
}
.event{
  list-style-type: none;
  border: 1px solid #000000;
  margin: 10px;
  padding: 10px;
  height: 20px;
  width: 300px;
  /* 
   * Worth noting that fadeout didn't work 
   * when the transition was applied to 'all' instead of 'height'
  */
  -webkit-transition: height .5s ease;
  -moz-transition: height .5s ease;
  transition: height .5s ease;
  overflow: hidden;
}
.event .eventButton{
  height: 20px;
  display: none;
}
.eventButton.start{

}
.eventButton.stop{

}
.eventButton.pause{

}
.eventButton.edit{

}
.eventButton.remove{

}
.event.expand {
  height: 100px;
}
.event.expand .eventButton {
  display: block;
}

.name{
  font-weight: bold;
}
.priority{
  float: right;
}
