body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
}
a{
  color: #00B7FF;
}

.fa{
  color:#000000;
}
.fa:hover{
  color:#00B7FF;
}
.hide{
  display:none;
}

/* TopBar */
#topBar{
  top:0px;
  width:100%;
  position:fixed;
  background:#FFFFFF;
  height:50px;
  z-index:1000;
}
#topBar .fa{
  padding:5px;
}
#topBar #runningLabel{
  font-weight:bold;
  position: relative;
  top:0px;
  float:right;
}
#topBar #runningEvents{
  padding:0;
  margin:0;
  margin-left:5px;
  position:relative;
  top:0px;
  float:right;
  margin-right:50px;
  background:#FFFFFF;
}
#topBar .runningEvent{
  list-style-type: none;
  text-align: right;
}
#topBar .runningEvent .timeElapsed{
  display: inline-block;
  width:80px;
  text-align:left;
}
#topBar .topIcon{
  margin-right:10px;
  text-decoration:underline;
}
#content{
  position:absolute;
  top:50px;
}
#indexContent{
  padding-left:70px;
}

/* Index */
.indexLink{
  display: block;
  margin: 10px;
}

/* Show Events */
.sideIcon{
  position:fixed;
  padding:5px;
  z-index:1001;
}
.sideIcon.fa-search{
  top:50px;
}
.sideIcon.fa-tags{
  top:100px;
}
.sideIcon.fa-bolt{
  top:150px;
  margin-left:10px;
}
.sideIcon.fa-eye{
  top:200px;
}
.sideExpand{
  margin-left:5px;
  position:fixed;
  height:35px;
  left:50px;
  background:#000000;
  text-align:center;
  width:0px;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  transition: width .5s ease;
}
#viewHolder{
  top:207.5px;
}
.search.show{
  width:250px;
}
.search#nameSearch{
  top:57.5px;
}
.search input{
  height:20px;
  width:80%;
  margin-top:4px;
  display:none;
}
.search.show input{
  display:inline-block;
}
.sideIcon.clicked{
  color:#00B7FF;
}
.search#tagSearch{
  top:107.5px;
}
#viewHolder{
  margin:0px;
  padding:0px;
  margin-left:5px;
  position:fixed;
  height:35px;
  left:50px;
  top:207.5px;
  background:#000000;
  text-align:center;
  width:0px;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  transition: width .5s ease;
}
#viewHolder.show{
  width:100px;
  overflow:hidden;
}
.viewIcon{
  height:100%;
  margin:5px;
  padding-left:5px;
  padding-right:5px;
  position: absolute;
  z-index:1001;
  color: #222222;
}
#viewHolder span{
  display:none;
}
/* This transition is still quite sketchy */
#viewHolder.show span{
  display:inline;
}
.viewIcon.clicked{
  color:#FFFFFF;
}
.viewIcon.fa-align-justify{
  z-index:1002;
  left:5px;
}
.viewIcon.fa-indent{
  right:5px;
}


li.event.createEvent{
  color: #209900;
  font-weight:bold;
}
.event{
  top:0px;
  list-style-type: none;
  border: 1px solid #000000;
  margin: 10px;
  margin-left: 20px;
  padding: 10px;
  width: 300px;
  /* 
   * Worth noting that fadeout didn't work 
   * when the transition was applied to 'all' instead of 'height'
  */
  /*
  -webkit-transition: height .5s ease;
  -moz-transition: height .5s ease;
  transition: height .5s ease;
  */
  overflow: hidden;
}
.event .eventHide{
  display: none;
}
.event.expand .eventHide{
  display: block;
}
.name{
  display:inline-block;
  font-weight: bold;
  width:225px;
}
.priority{
  float: right;
  width:20px;
}
.tagSpan{
  left:20px;
}
.tagSpan:hover{
  color:#000000;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.eventButtons{
  margin-bottom: -10px;
  text-align:center;
}
.eventButtons .fa{
  margin-top:15px;
  background:#E0E0E0;
  padding:3px;
  padding-left:20px;
  padding-right:20px;
  border:1px solid #000000;
  border-bottom:none;
}
.eventButtons .disabledButton{
  background:#AAAAAA;
}
.eventButtons .disabledButton:hover{
  color:#000000;
}
.event .fa-bolt{
  color:#EEAA00;
  padding-right:5px;
}
.event .fa-bolt:hover{
  color:#000000;
}
.event .metrics{
  position:relative;
  float:right;
  display:inline-block;
  right:20px;
  top:0px;
}
.eventMetrics{
  display:none;
  width:200px;
  position:absolute;
  left:380px;
  background:#DDDDBB;
  border-top:1px solid #000000;
  z-index:1;
}
.eventMetrics.show{
  display:inline-block;
}
.eventMetrics td{

}
.eventWrapper{
  width:600px;
}


/* Fixed Content */
/* Right now this is fixed, will only really work for my screen */
#fixedContent{
  position:fixed;
  left: 400px;
  top: 50px;
  height:625px;
  width:925px;
}
#fixedContent #todayMetricsTable{
  margin-top:10px;
  height:100%;
  width:100%;
  border:1px solid #000000;
}


/* newEvents */
#eventFormTable{
  padding:20px;
}
.hide{
  display: none;
}
#eventFormTable td{
  min-width:150px;
  /* Min height isn't responding */
  min-height:90px;
}
.timePicker{
  border: 0 !important;  /*Removes border*/
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
}
#addTags td:first-child{
  position:relative;
  top: 5px;
  vertical-align:top;
}
#addTags ul{
  margin:0px;
  margin-left: -40px;
}
#addTags li{
  list-style-type:none;
  margin:0;
}




/* showMonth */
#monthCalendar{
  position:absolute;
  left:4.5%;
  top:5%;
  height:90%;
  width:91%;
  border: 1px solid black;
}
#monthCalendar td{
  border: 1px solid black;
}
#monthCalendar tr:first-child{
  font-weight:bold;
  background:#123456;
  color:#FFFFFF;
  text-align:center;
  height:5%;
}
#monthCalendar .calendarDay{
  background:#AACCFF;
  width:13%;
  text-align:center;
  vertical-align:middle;
}
#monthCalendar .calendarDay:hover{
  background:#FFFFFF;
}

/* Show Day */
.dayCalendarTable{
  border: 1px solid black;
  position:absolute;
  margin-bottom: 50px;
}
.dayCalendarTable td{
  height:20px;
}
#dayTimeLabel{
  left:20%;
}
#dayTimeLabel .borderTime{
  border-top: 1px solid black;
}
#dayTimeLabel .timeLabel{
  width:30px;
}
#dayEvents{
  left:25%;
}
/* Hacky workaround to adjust for border heights */
#dayEvents .hourStart {
  border-top: 1px solid white;
}
.dayLayoutSet li{
  list-style-type:none;
  border:1px solid #000000;
  padding: 3px;
}
