body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
}
a{
  color: #00B7FF;
}

.fa{
  color:#000000;
}
.fa:hover{
  color:#00B7FF;
}
#topBar{
  top:0px;
  width:100%;
  position:fixed;
  background:#FFFFFF;
  height:50px;
  z-index:1000;
}
#topBar .fa{
  padding:5px;
}
#topBar #runningLabel{
  font-weight:bold;
  position: relative;
  top:0px;
  float:right;
}
#topBar #runningEvents{
  padding:0;
  margin:0;
  margin-left:5px;
  position:relative;
  top:0px;
  float:right;
  margin-right:50px;
}
#topBar .runningEvent{
  list-style-type: none;
}
#content{
  position:absolute;
  top:50px;
}
#indexContent{
  padding-left:70px;
}

/* Index */
.indexLink{
  display: block;
  margin: 10px;
}

/* Show Events */
li.event.createEvent{
  color: #209900;
  font-weight:bold;
}
.event{
  list-style-type: none;
  border: 1px solid #000000;
  margin: 10px;
  padding: 10px;
  width: 300px;
  /* 
   * Worth noting that fadeout didn't work 
   * when the transition was applied to 'all' instead of 'height'
  */
  /*
  -webkit-transition: height .5s ease;
  -moz-transition: height .5s ease;
  transition: height .5s ease;
  */
  overflow: hidden;
}
.event .eventHide{
  display: none;
}
.event.expand .eventHide{
  display: block;
}
.name{
  font-weight: bold;
}
.priority{
  float: right;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.eventButtons{
  margin-bottom: -10px;
  text-align:center;
}
.eventButtons .fa{
  margin-top:15px;
  background:#E0E0E0;
  padding:3px;
  padding-left:20px;
  padding-right:20px;
  border:1px solid #000000;
  border-bottom:none;
}


/* newEvents */
#eventFormTable{
  padding:20px;
}
.hide{
  display: none;
}
#eventFormTable td{
  min-width:150px;
  /* Min height isn't responding */
  min-height:90px;
}
.timePicker{
  border: 0 !important;  /*Removes border*/
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
}



/* showMonth */
#monthCalendar{
  position:absolute;
  left:4.5%;
  top:5%;
  height:90%;
  width:91%;
  border: 1px solid black;
}
#monthCalendar td{
  border: 1px solid black;
}
#monthCalendar tr:first-child{
  font-weight:bold;
  background:#123456;
  color:#FFFFFF;
  text-align:center;
  height:5%;
}
#monthCalendar .calendarDay{
  background:#AACCFF;
  width:13%;
  text-align:center;
  vertical-align:middle;
}
#monthCalendar .calendarDay:hover{
  background:#FFFFFF;
}

/* Show Day */
.dayCalendarTable{
  border: 1px solid black;
  position:absolute;
  margin-bottom: 50px;
}
.dayCalendarTable td{
  height:20px;
}
#dayTimeLabel{
  left:20%;
}
#dayTimeLabel .borderTime{
  border-top: 1px solid black;
}
#dayTimeLabel .timeLabel{
  width:30px;
}
#dayEvents{
  left:25%;
}
/* Hacky workaround to adjust for border heights */
#dayEvents .hourStart {
  border-top: 1px solid white;
}
